<div class="project-example-header">
  <h2>{{ toggleExample === 'client' ? 'Client side paged table' : 'Server side paged table' }}</h2>
  <app-span-filler></app-span-filler>
  <span>Client</span>
  <mat-slide-toggle color="warn" [checked]="toggleExample !== 'client'" (change)="onToggleChange($event.checked)"></mat-slide-toggle>
  <span>Server</span>
</div>

@if (toggleExample === 'client') {
  <!-- Client paging setup -->
  <div class="outer-table-container">
    <div class="table-paginator-container">
      <mtt-table #clientTable
        [config]="clientConfig"
        [data]="paginatedData"
        [pageIndex]="cPageIndex"
        [pageSize]="cPageSize"
        (filterChange)="clientFilterChanged($event)"
        (sortChange)="clientSortChanged($event)">
        <div class="ng-content-example">
          <div class="ng-content-banner">
            <span>&darr;&darr;&darr;</span>
            <span>THIS IS INJECTED CONTENT</span>
            <span>&darr;&darr;&darr;</span>
          </div>

          <div>
            <mat-form-field appearance="outline">
              <mat-label>Filter by Symbol</mat-label>
              <mat-select #symbolSelect
                [(ngModel)]="clientColumnFilters['symbol']"
                (selectionChange)="onSelectChange($event.value)">
                @if (!symbolSelect.multiple) {
                  <mat-option [value]=""> -- </mat-option>
                }
                @for (symbol of clientSymbols; track symbol) {
                  <mat-option [value]="symbol">{{ symbol }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

          <div>
            <mat-chip-listbox aria-label="select a filter"
              (change)="onChipChange($event.value)"
              multiple>
              <mat-chip-option color="primary" [value]="{ field: 'name', value:'Carbon' }"> Carbon </mat-chip-option>
              <mat-chip-option color="primary" [value]="{ field: 'online', value:true }"> Online Graduate </mat-chip-option>
              <mat-chip-option color="primary" [value]="{ field: 'career', value:'Paleontologist' }"> Paleontologist </mat-chip-option>
            </mat-chip-listbox>
          </div>

          <div class="ng-content-banner">
            <span>&uarr;&uarr;&uarr;</span>
            <span>THIS IS INJECTED CONTENT</span>
            <span>&uarr;&uarr;&uarr;</span>
          </div>
        </div>
      </mtt-table>
  
      <mat-divider></mat-divider>
      
      <mtt-client-paginator
        [accessibleLabel]="accessibleLabel"
        [pageIndex]="cPageIndex"
        [pageSize]="cPageSize"
        [pageSizeOptions]="cPageSizeOptions"
        [totalData]="filteredData"
        showFirstLastButtons
        showGoToPage
        (paginatedData)="updateDataClient($event)">
      </mtt-client-paginator>
    </div>
  </div>
} @else {
  <!-- Server paging setup -->
  <div class="outer-table-container">
    <div class="table-paginator-container">
      <mtt-table #serverTable
        [loading]="loading"
        [config]="serverConfig"
        [data]="(serverData$ | async) ?? []"
        [pageIndex]="sPageIndex"
        [pageSize]="sPageSize"
        (getData)="tableDataRequestServer()"
        (filterChange)="serverFilterChanged($event)"
        (sortChange)="serverSortChanged($event)">
      </mtt-table>
  
      <mat-divider></mat-divider>
  
      <mtt-server-paginator
        [accessibleLabel]="accessibleLabel"
        [pageIndex]="sPageIndex"
        [pageSize]="sPageSize"
        [pageSizeOptions]="sPageSizeOptions"
        [disabled]="loading"
        showFirstLastButtons
        showGoToPage
        (fetchData)="updateDataServer()">
      </mtt-server-paginator>
    </div>
  </div>
}
